<!doctype html>
<html ng-app="myApp" lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Proyecto 8</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles/style.css">
</head>

<body ng-controller="MainController">
    <div class="container-fluid py-5" id="portada">
        <nav class="navbar navbar-expand-lg  my-5 col-md-7 col-sm-11 mx-auto px-0 pb-5 pt-0">
            <a class="navbar-brand" href="#">Carting</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav float-right">
                    <li class="nav-item active">
                        <a class="nav-link" ng-href="#!" ng-click="myFunc(true)">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#!about" ng-click="myFunc(false)">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#!services" ng-click="myFunc(false)">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#!gallery" ng-click="myFunc(false)">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-phone"></i>+12 34 3456 7890</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="col-md-7 col-sm-11 mx-auto px-0 pt-5 mt-5" ng-show="showContact">
            <p class="mx-0 mb-4 col-7 p-0" id="titulo">Ship Anything Around The World</p>
            <p>Donec cursus congue risus, quis varius velit accumsan aliquam.</p>
            <p>Morbi semper nunc in ex lacinia, at lobortis lectus porta</p>
            <form class="form-inline mt-4 mx-0 px-0" id="inputEmail">
                <div class="form-group ml-0 mr-3 mb-2 p-0">
                    <input type="password" class="form-control py-4" id="inputPassword2" placeholder="Enter Your Email">
                </div>
                <button type="submit" class="btn mb-2 py-3 px-5 mt-0"><i class="fa fa-envelope m-0 p-0"></i></button>
            </form>
        </div>
    </div>

    <div ng-view></div>

    <div class="container-fluid text-center" id="testimonials">
        <div id="contenedor">
            <div class="row my-5">
                <div class="col">
                    <h1>Testimonials</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <i class="fa fa-quote-left fa-2x"></i>
                </div>
            </div>
            <div class="row" style="width: 50%; margin-left: auto; margin-right: auto;">
                <div class="col">
                    <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit sdfggsgcorrupti perferendis voluptatem atque cupiditate amet aperiam, asperiores eius totam, cumque beatae ullam!</h6>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img src="images/moni.jpg" alt="" id="imgMoni">
                </div>
            </div>
            <div class="row my-3">
                <div class="col">
                    <p id="moniName">Monica Adriana Barrios</p>
                    <p>Add some description</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col" id="col3">
                <h1>Advantages</h1>
                <p>This is a demo text you may write a brief text here to explain the title</p>
            </div>
        </div>
        <div class="row my-4">
            <div class="col">
                <img src="images/fork.jpg" class="img-fluid" alt="">
            </div>
            <div class="col">
                <h2 style="font-weight: bold;">We Help Clients Transport Their Goods Safely.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, atque. Itaque ab voluptas, eos, provident ipsum a illo ea maiores quas et nobis quisquam nesciunt ut sit optio facilis vero!</p>
                <p><i class="fa fa-check" style="color: #ff2626"></i> Lorem ipsum dolor sit amet, consectetur.</p>
                <p><i class="fa fa-check" style="color: #ff2626"></i> Lorem ipsum dolor sit amet.</p>
                <p><i class="fa fa-check" style="color: #ff2626"></i> Lorem ipsum dolor sit amet.</p>
                <p><i class="fa fa-check" style="color: #ff2626"></i> Lorem ipsum dolor sit.</p>
            </div>
        </div>
    </div>

    <div style="background-color:black; color:white">
        <div class="container">
            <footer class="pt-4 my-md-5 pt-md-5 border-top">
                <div class="row">
                    <div class="col-12 col-md">
                        <h3><b>Carting</b></h3>
                        <br>
                        <p class="text-muted">
                            shalala shalala shalala
                        </p>
                    </div>
                    <div class="col-6 col-md">
                        <h5>LINKS</h5>
                        <br>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="#!">HOME</a></li>
                            <br>
                            <li><a class="text-muted" href="#!about">ABOUT</a></li>
                            <br>
                            <li><a class="text-muted" href="#!gallery">GALLERY</a></li>
                            <br>
                            <li><a class="text-muted" href="#!services">SERVICES</a></li>
                            <br>
                            <li><a class="text-muted" href="#">CONTACT US</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h5>CONTACT INFO</h5>
                        <br>
                        <p>PHONE</p>
                        <p class="text-muted">+123456789</p>
                        <p>EMAIL</p>
                        <a class="text-muted" href="#">elcorreoyallego@gmail.com</a>
                        <p></p>
                        <p>LOCATION</p>
                        <p class="text-muted">Honey Avenue, New York City</p>
                    </div>
                    <div class="col-6 col-md">
                        <h5>SOCIAL INFO</h5>
                        <br>
                        <p class="text-muted">Shalala Shalala Shalala Shalala</p>
                        <br>
                        <p>CATCH ON SOCIAL</p>
                        <a href="http://www.facebook.com"><img style="margin:3px" src="images/facebook.png"></a>
                        <a href="http://www.twitter.com"><img style="margin:3px" src="images/twitter.png"></a>
                        <a href="http://www.web.whatsapp.com"><img style="margin:3px" src="images/whatsapp.png"></a>
                        <a href="http://www.google.com"><img style="margin:3px" src="images/google-plus.png"></a>
                    </div>
                </div>
            </footer>
        </div>
        <div style="background-color: rgb(25, 26, 30)">
            <div class="container">
                <br>

                <div class="row">
                    <div class="text-muted">
                        © 2019. Carting. Shalalalala
                    </div>
                    <div style="margin-right: 0px;margin-left: auto;" id="scrollArea" ng-controller="ScrollController">
                        <img ng-click="gotoBottom()" src="images/up-arrow.png" alt="" style="cursor: pointer;">
                    </div>
                </div>
                <br>

            </div>
        </div>
    </div>



    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="scripts/angularjs.js"></script>
    <script src="scripts/route.js"></script>
    <script src="scripts/script.js"></script>
</body>

</html>
