* {
    font-family: 'Montserrat', sans-serif;
}

#portada {
    background-image: url("../images/fondoP.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-shadow: 0 3000px rgba(0, 0, 0, 0.65) inset;
    box-shadow: 0 3000px rgba(0, 0, 0, 0.65) inset;
}

#portada,
#portada nav a,
#inputEmail i {
    color: white;
}

#titulo {
    font-size: 300% !important;
}

nav>a {
    font-size: 150% !important;
}

#inputEmail input,
#inputEmail button {
    border-radius: 0% !important;
}

#inputEmail button {
    background-color: orangered;
}

#inputEmail i {
    font-size: small;
}

#navbarText i,
#divTitulo .h3,
.card i {
    color: orangered;
}

.card i {
    font-size: xx-large;
}

#navbarText {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-flow: column-reverse;
    flex-flow: column-reverse;
}

#divTitulo .h3,
#titulo,
nav>a,
.card-title {
    font-weight: bold;
}

.card {
    border: transparent;
}

.card-text,
#definicion {
    color: grey;
}

#row1 {
    text-align: center;
}

#row1 h5 {
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

#col1 {
    background-color: rgba(237, 237, 237, 0.94);
    padding: 3rem;
}

#col1 h3 {
    font-weight: bold;
}

#col1 h1 {
    color: #ff2626;
}

#col1 p {
    font-weight: bold;
}

#col2 h1,
#col3 h1 {
    color: #ff2626;
    font-weight: bold;
}

.card-body {
    background-color: rgba(237, 237, 237, 0.94);
}

#testimonials {
    background-image: url("../images/boat.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-shadow: 0 3000px rgba(0, 0, 0, 0.4) inset;
    box-shadow: 0 3000px rgba(0, 0, 0, 0.65) inset;
}

#imgMoni {
    border-radius: 50%;
    width: 6rem
}

#testimonials h1,
#testimonials i,
#testimonials #moniName {
    color: #ff2626;
    font-weight: bold;
}

#testimonials h6,
#testimonials p {
    color: white;
    font-style: italic;
}